In [1]:
import numpy as np
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import seaborn as sns

import xlrd
import xlwt

from openpyxl import load_workbook

import math
%matplotlib inline

In [17]:
movie = pd.read_csv("E:/MoiveData/movie.csv")
movie_city = pd.read_csv("E:/MoiveData/city_movie_schedule.csv")

In [18]:
movie.head(1)

,MovieID,MovieCName,MovieEName,MovieType,MovieLength,MovieReleaseTime,MovieStandard,MovieSumBoxOffice,MovieAvgPrice,MovieAvgPeople,MovieWomIndex
0,273,舞吧！昴,Dance Subaru,歌舞/剧情,10.0,20101203.0,2D,471000.0,NaN,NaN,NaN

In [20]:
movie_city.head(1)

  MovieID\tName58921\tScheduleDate\tScheduleCity\tScheduleCinema\tTotal\tElapsed\tSeats\tPrime
0  159\tĦ��ׯ԰2��������\t20170528\tningxia_yinchua...

In [11]:
typeid = {} # type 的 id
movie_type = {}
movie_box = {}

N_type = 0

for _,row in movie.iterrows():
    if not isinstance(row['MovieType'], str):
        continue
    if row['MovieSumBoxOffice'] == 'NaN' or math.isnan(row['MovieSumBoxOffice']):
        continue
        
    ID = row['MovieID']
    
    # 类型编号
    types = row['MovieType'].split('/')
    for t in types:
        if t in typeid.keys():
            continue
        else:
            typeid[t] = N_type
            N_type += 1
            
    # 电影类型
    movie_type[ID] = []
    for t in types:
        movie_type[row['MovieID']].append(typeid[t])
        
    # 电影票房
    movie_box[ID] = row['MovieSumBoxOffice']

In [12]:
idtype = {} # id的type

for key,val in typeid.items():
    idtype[val] = key

for key,val in idtype.items():
    print key,
    print val

0 歌舞
1 剧情
2 纪录片
3 传记
4 动作
5 冒险
6 青春
7 爱情
8 武侠
9 古装
10 科幻
11 奇幻
12 功夫
13 战争
14 运动
15 喜剧
16 悬疑
17 都市
18 时尚
19 职场
20 惊悚
21 动画
22 励志
23 公路
24 恐怖
25 音乐
26 怀旧
27 军旅
28 犯罪
29 儿童
30 革命
31 亲情
32 农村
33 同性
34 舞台艺术片
35 灾难
36 动物
37 灵异
38 文艺
39 心理
40 警匪
41 戏曲
42 玄幻
43 友情
44 反腐
45 真人秀
46 综艺大电影
47 枪战
48 主旋律
49 民族
50 黑帮
51 穿越
52 校园
53 军事
54 神话
55 黑色幽默